// app global css in SCSS form
.spec-error-validator {
  font-size: 0.75rem;
  font-weight: 400;
  width: 250px;
  text-align: right;
  line-height: 1.25rem;
  letter-spacing: 0.03333em;
  color: #b71c1c !important;
}
